.container_portfolio {
  height: 100vh;
  width: 50vw;
  position: relative;
}

.vertical_center {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 4%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.contact_me {
  background-color: #143d59;
  padding: 10px 33px;
  font-size: 18px;
  border-radius: 4px;
  margin-top: 10px;
  color: #f4b41a;
}
